<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vue</title>
</head>
<body>
    <div id="app">

        <input type="text" v-model="title">
        <button v-on:click="add">submit</button>
        <ul>
            <li v-for="(item,index) in list">{{item}}</li>
        </ul>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script>
        var obj ={},
            name = 'liner';
        Object.defineProperty(obj,'name',{
            get:function(){
                console.log('get');
                return name
            },
            set:function(newVal){
                console.log('set');
                name = newVal
            }
        })
        var vm = new Vue({
            el:"#app",
            data:{
                title:"",
                list:[]
            },
            methods:{
                add:function(){
                    this.list.push(this.title);
                    this.title=''
                }
            }
        })
    </script>
</body>
</html>